[submodule "Assets/Plugins/GeoViz_Private_Plugins"]
	path = Assets/Plugins/GeoViz_Private_Plugins
	url = https://github.com/BredaUniversityResearch/GeoViz_Private_Plugins
[submodule "Packages/com.cesium.unity"]
	path = Packages/com.cesium.unity
	url = https://github.com/CesiumGS/cesium-unity.git
